-content_for :narrow_page do
  #tier-content-col-left
    .cms
      =container :main
  #tier-content-col-right
    -cache(["blog_archive_menu", last_updated_blog_post]) do
      =render "/partials/blog_recent_and_archives"
=render :file => "layouts/application"