-content_for :bread_crumbs do 
  %p
-content_for :narrow_page do
  -cache(["blog_archive_menu", last_updated_blog_post]) do
    =render "/partials/blog_recent_and_archives"
  .cms.blog
    =container :main

=render :file => "layouts/application"

